section{
  background-image: url("../image/fondo_index.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  /* max-width: 100%;
  max-height: 100%; */
  z-index: 0;
}

.barra{
  border-color: white;
}

/* section{
  display: flex;
  align-items: start;
  justify-content: center;
  
} */

.container{
  box-shadow: 0 0 15px 9px #00000096;
  padding: 0;
  margin-bottom: 0;
}

.compraTicket{
  background-color: black;
}